<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="http://1.bp.blogspot.com/_oDS_8QmBU4w/TMcF6IxHXrI/AAAAAAAAB6k/JyCqgalRDyo/S220/ceiling3.jpg">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
